<template>
  <div class="{{ pascalCase2Line componentName }}">
    {{componentName}} component
  </div>
</template>

<script setup lang="ts" name="{{ firstUpper componentName }}">

</script>

<style lang="scss" scoped>
.{{ pascalCase2Line componentName }} {}
</style>