<template>
  <div class="{{ name }}">
    {{name}} view
  </div>
</template>

<script setup lang="ts" name="{{ pascalCase2Line componentName }}">

</script>

<style lang="scss" scoped>
.{{ name }} {}
</style>